!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie-edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %title= current_page.data.title || "Portfolio - Albert Stjärne"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
    %body
      = yield
      = partial 'partials/projects'


      -# only leave yield here
      -# put all partials in index
      -# normally no code here unless needed on all pages
      -# footer and header
      -# can have more than one layout page, eg the blog layout and a layout for all others